body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Btn {
  margin: 10px;
  padding: 5px 15px;

  background-color: rgb(223, 223, 223);
  border: none;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;

  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
}

.Btn:hover,
.Btn:focus {
  background-color: cornflowerblue;
  color: indigo;
}

/* Search form*/
.SearchForm {
  margin: 20px 10px;
}
.SearchFormButton {
  margin-left: 10px;
}

/* Home page*/

.Title {
  margin: 10px;
}

.List {
  list-style: none;
}

/* Movie Deatails Page*/

.Content {
  display: flex;
  align-items: center;
  margin: 10px 5px;
}

.ContentDesc {
  margin: auto 15px;
}

/* Cast*/

.CastList{
  display: flex;
  flex-wrap: wrap;
}

.CastListItem{
  margin: 10px;
  width: 200px;
}
